<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssx.mapper.OrderMapper">

    <!--表名 -->
    <sql id="tableName">
		 orderflag
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		orderID,userID,goodsName,goodsDetail,goodsPrice
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{orderID},
		#{userID},
		#{goodsName},
		#{goodsDetail},
		#{goodsPrice}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="com.ssx.bean.Order">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="Integer">
        delete from
        <include refid="tableName"></include>
        where
        orderID = #{orderID}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="com.ssx.bean.Order">
        update
        <include refid="tableName"></include>
        set
        userID = #{userID}
        goodsName = #{goodsName}
        goodsDetail = #{goodsDetail}
        goodsPrice = #{goodsPrice}
        where
        orderID = #{orderID}
    </update>

    <!-- 通过用户ID获取用户订单 -->
    <select id="getOrderByUserID" parameterType="Integer" resultType="com.ssx.bean.Order">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        userID = #{userID}
    </select>


</mapper>